.header-container {
  width: 100%;
}
.header-box {
  @include column-flexbox(center, stretch);
  gap: 1rem;
  border-bottom: 0.1rem solid #dbdbdb;
  padding-bottom: 1.5rem;

  @include responsive("M") {
    gap: 0;
    padding-bottom: 0.5rem;
  }

  .content {
    @include flexbox(between, center);
    gap: 2.4rem;

    .title {
      @include text-style(3, 700, #363636);

      @include responsive("M") {
        font-size: 2.4rem;
      }
    }
  }
}

.detail-info {
  @include inline-flexbox();
  gap: 1rem;
}
.nickname {
  @include text-style(1.5, 600, #363636);

  @include responsive("M") {
    font-size: 1.2rem;
  }
}

.line {
  width: 0.1rem;
  height: 1rem;
  flex-shrink: 0;
}

.view-count {
  @include text-style(1.5, 600, #a8a8a8);
  @include inline-flexbox();
  gap: 0.5rem;

  @include responsive("M") {
    font-size: 1.2rem;
  }
}

.icons {
  @include flexbox($jc: center);
  gap: 1rem;

  @include responsive("M") {
    gap: 0;
  }
}
.tags {
  @include inline-flexbox();
  padding-top: 2rem;
  gap: 1rem;

  @include responsive("M") {
    padding-top: 1rem;
  }
}
.tag {
  @include text-style(1.6, 500, #60a5fa);
  padding: 0.8rem 1.6rem;
  flex-shrink: 0;
  border-radius: 99.9rem;
  border: 0.1rem solid #60a5fa;
}
