.btns {
  @include inline-column-flexbox();
  gap: 1rem;
  background-color: $gray30;
  border-radius: 0.4rem;
  padding: 0.5rem;

  .btn {
    @include column-flexbox();
    border-radius: 0.4rem;
    padding: 1rem 0;
    width: 5.8rem;
    cursor: pointer;

    &.isSelected {
      background-color: $primary10;

      .text {
        color: $black10;
      }
    }

    .icon {
      width: 1.6rem;
    }

    .text {
      @include text-style(1.6, 700, $gray10);
    }
  }
}
