.container {
  @include column-flexbox();
  gap: 5rem;
  padding: 5rem 0 0;

  @include responsive("M") {
    gap: 2rem;
    padding: 2rem 0;
  }

  .info {
    width: 100%;
  }

  .course {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}
