$black30: #363636;
$black20: #505050;
$black10: #767676;

$gray30: #a8a8a8;
$gray20: #dbdbdb;
$gray10: #f6f6f6;

$red: #ed1c24;

$primary50: #0038b0;
$primary40: #2463eb;
$primary30: #60a5fa;
$primary20: #bfdbfe;
$primary10: #ecf5ff;

$white: #ffffff;

// fix: 기존 코드 에러 방지용(나중에 위의 변수로 모두 교체해야함)
$White: #ffffff;

$Invalid: #cb0000;

$Background_Gray: #eeeeee;
$PreLight_Gray: #ececec;
$Light_Gray: #a1a1a1;
$Primary_Gray: #8c8c8c;
$Dark_Gray: #7d7d7d;

$Black: #252525;

$Light_Emerald: #d8f5f1;
$Primary_Emerald: #01937f;
$Dark_Emerald: #006f5f;

$Light_Navy: #e0f0fb;
$Primary_Navy: #004572;
$Dark_Navy: #003151;

$Gray: #8c8c8c;
$emerald: #01937f;
