%btn-base {
  @include text-style(1.6, 700);
  @include flexbox();
  border-radius: 0.6rem;
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.btn-size {
  &-small,
  &-medium,
  &-large,
  &-default {
    @extend %btn-base;
  }

  &-small {
    height: 4.2rem;
    padding: 1.2rem 2.4rem;
  }

  &-medium {
    height: 4.2rem;
    width: 20rem;
  }

  &-large {
    height: 4.8rem;
    width: 35rem;
  }

  &-default {
    height: 100%;
    width: 100%;
  }
}

.btn-blue {
  &-primary {
    color: $White;
    background-color: $primary40;

    &:hover {
      background-color: $primary50;
    }

    &:disabled {
      background-color: $gray30;
    }
  }

  &-secondary {
    color: $primary30;
    background-color: $White;
    border: 1px solid $primary30;

    &:hover {
      color: $primary40;
      background-color: $primary20;
    }

    &:disabled {
      color: $gray30;
      background-color: $gray10;
      border: 1px solid $gray30;
    }
  }

  &-third {
    color: $black30;
    background-color: $White;
    border: 1px solid $gray30;

    &:hover {
      border: 1px solid $black30;
    }

    &:disabled {
      color: $gray30;
      border: 1px solid $gray30;
    }
  }
}

.btn-none {
  &-primary {
    width: 3rem;
    height: 3rem;
  }
}

// fix: 기존 코드 에러 방지용(나중에 위의 변수로 모두 교체해야함)
.btn-emerald {
  &-primary {
    color: $White;
    background-color: $Primary_Emerald;

    &:hover {
      background-color: $Dark_Emerald;
    }

    &:disabled {
      background-color: $Dark_Gray;
    }
  }

  &-secondary {
    color: $emerald;
    background-color: $White;
    border: 1px solid $Primary_Emerald;

    &:hover {
      background-color: $Light_Emerald;
    }

    &:disabled {
      color: $Dark_Gray;
      background-color: $Background_Gray;
      border: 1px solid $Dark_Gray;
    }
  }

  &-third {
    color: $Black;
    background-color: $White;
    border: 1px solid $Light_Gray;

    &:hover {
      border: 1px solid $Black;
    }

    &:disabled {
      color: $Dark_Gray;
      border: 1px solid $Dark_Gray;
    }
  }
}

.btn-navy {
  &-primary {
    color: $White;
    background-color: $Primary_Navy;

    &:hover {
      background-color: $Dark_Navy;
    }
  }

  &-secondary {
    color: $Primary_Navy;
    background-color: $White;
    border: 1px solid $Primary_Navy;

    &:hover {
      background-color: $Light_Navy;
    }
  }
}
