// 기본 버튼 스타일
%btn-base {
  @include text-style(1.6, 700);
  @include flexbox();
  border-radius: 0.6rem;
  transition: all ease-in-out 0.2s;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

// 버튼 크기별 스타일
.btn-size {
  &-small,
  &-medium,
  &-large,
  &-default {
    @extend %btn-base;
  }

  &-small {
    height: 4.2rem;
    padding: 1.2rem 2.4rem;
  }

  &-medium {
    height: 5.8rem;
    width: 9.7rem;
  }

  &-large {
    height: 4.8rem;
    max-width: 35rem;
    width: 100%;
  }

  &-default {
    height: 100%;
    width: 100%;
  }
}

// 버튼 색상별 스타일
.btn {
  &-blue {
    &-primary {
      color: $White;
      background-color: $primary40;

      &:disabled {
        background-color: $gray30;
      }
    }

    &-secondary {
      color: $primary30;
      background-color: $White;
      border: 1px solid $primary30;

      &:disabled {
        color: $gray30;
        background-color: $gray10;
        border: 1px solid $gray30;
      }
    }

    &-third {
      color: $black30;
      background-color: $White;
      border: 1px solid $gray30;

      &:disabled {
        color: $gray30;
      }
    }
  }

  .btn-none {
    &-primary {
      width: 3rem;
      height: 3rem;
    }
  }

  // fix: 기존 코드 에러 방지용(나중에 위의 변수로 모두 교체해야함)
  &-emerald {
    &-primary {
      color: $White;
      background-color: $Primary_Emerald;
    }

    &-secondary {
      color: $emerald;
      background-color: $White;
      border: 1px solid $Primary_Emerald;
    }

    &-third {
      color: $Black;
      background-color: $White;
      border: 1px solid $Light_Gray;
    }
  }

  &-navy {
    &-primary {
      color: $White;
      background-color: $Primary_Navy;
    }

    &-secondary {
      color: $Primary_Navy;
      background-color: $White;
      border: 1px solid $Primary_Navy;
    }
  }

  &-none {
    &-primary {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn {
    &-blue {
      &-primary:hover:not(:disabled) {
        background-color: $primary50;
      }
      &-secondary:hover:not(:disabled) {
        color: $primary40;
        background-color: $primary20;
      }
      &-third:hover:not(:disabled) {
        border: 1px solid $black30;
      }
    }
  }
}
