.section {
  margin: 0 auto;
}

.container {
  margin-top: 2rem; /* mt-8 */
  display: grid;
  gap: 1rem; /* gap-4 */

  // @media (min-width: 640px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.article {
  @include inline-flexbox($ai: start);
  gap: 18.9rem;
}

.list-title-group {
  @include column-flexbox($ai: center);
  gap: 1.2rem;
  padding-bottom: 1.2rem;

  .list-title {
    color: $Black;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  .list-explanation {
    color: $Primary_Gray;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.btn-group {
  display: flex;
  gap: 0.8rem;
  width: 24rem;
  height: 4.8rem;
  margin-top: 1.6rem;
}

.item-container {
  display: flex;
  align-items: center;
  padding-left: 1.96rem;
  gap: 0.69rem;
  width: 50.3822rem;
  height: 13.6356rem;
  flex-shrink: 0;
  background: #f3f3f3;
  border-radius: 1rem;
}

.item-image {
  width: 16.64rem;
  height: 9.5911rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: lightgray 50% / cover no-repeat;
}

.item-box {
  display: flex;
  flex-direction: column;
  gap: 1.04rem;
}

.title-group {
  display: flex;
  gap: 1rem;
}

.item-title {
  color: $Black;
  font-size: 1.8rem;
  font-weight: 700;
}

.item-location {
  color: $Black;
  font-size: 1.3rem;
  font-weight: 500;
}

.score-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.score-item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.23rem;
  width: 2.8889rem;
  height: 1.8489rem;
  flex-shrink: 0;
  color: $Black;
  font-size: 1.3rem;
  font-weight: 500;
}

.title-group {
  @include column-flexbox($ai: start);
  width: 26.1156rem;
  height: 5.4311rem;
  flex-shrink: 0;
}

.schedule {
  @include inline-flexbox();
  gap: 4.2rem;
}

.schedule-group {
  @include column-flexbox($jc: start);
  gap: 3.4rem;
}

.number-circle {
  @include flexbox();
  width: 2.3rem;
  height: 2.3rem;
  flex-shrink: 0;
  border: 0.2rem solid $Primary_Navy;
  border-radius: 50%;
  color: $Primary_Navy;
  font-size: 1.6rem;
  font-weight: 700;
}

.day-btn-group {
  display: flex;
  flex-direction: row;
  gap: 3.1rem;
}

.day-btn {
  width: 11.4rem;
  height: 4.2rem;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  border: 0.1rem solid #8c8c8c;
  background-color: #d1d1d1;
  border-radius: 0.8rem;
  cursor: pointer;
}

.day-btn.active {
  background-color: $White;
}

.scrollable-list {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  max-height: 50rem;
  overflow-y: auto;
  padding-right: 1rem;
}

.kakao-map {
  flex-shrink: 0;
  border-radius: 1rem;
  // z-index: -1;
}

.content {
  @include column-flexbox($jc: start);
  padding-top: 16.1rem;
  gap: 3rem;
  // width: 79.1rem;
  // height: 78.1rem;
}
