.menu {
  @include flexbox(between, center);
  @include text-style(2, 700, $Black);
  gap: 4rem;
  padding: 0 2rem;

  &-item {
    transition: all ease-in-out 0.2s;

    &:hover {
      color: $primary40;
    }

    &-active {
      color: $primary40;
    }
  }
}
