.nav {
  @include flexbox(between, center);
  background-color: $White;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  &__back {
    width: 3rem;
    cursor: pointer;
  }

  &__btn {
    @include text-style(1.5, 700, $black30);
    button {
      cursor: pointer;
    }
  }

  @include responsive("M") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
