.container {
  @include column-flexbox();
  gap: 4rem;
  width: 100%;
}

.divider {
  @include text-style(1.6, 400, $black20);
  @include flexbox();
  width: 100%;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background: $black20;
    height: 1px;
  }

  &::before {
    margin-right: 1.3rem;
  }

  &::after {
    margin-left: 1.3rem;
  }
}

.btn {
  width: 6.1rem;
  height: 6.1rem;
  cursor: pointer;
}
