.container {
  @include column-flexbox();
  width: 100%;
}

.form {
  @include column-flexbox(center, center);
  gap: 1.3rem;
  padding-bottom: 1.8rem;
  width: 100%;

  &-input {
    @include column-flexbox();
    gap: 0.7rem;
    width: 100%;
  }
}
