.container {
  padding-top: 15rem;
  padding-left: 5.4rem;
}

.title {
  @include text-style(3, 700);
  padding-bottom: 8.8rem;
}

.form {
  &-destination {
    padding-bottom: 2.8rem;
  }

  &-indent {
    padding-left: 2.6rem;
  }

  &-tag {
    &-title {
      @include text-style(2.5, 700);
      padding-bottom: 3rem;
    }

    &-content {
      padding-left: 1.7rem;
    }
  }
}
