.search-page {
  .container {
    padding: 0px !important;
    margin-top: 42px;
    margin-bottom: 70px;

    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: 360px) {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .desktop-tab {
    .tab-nav {
      border-bottom: 1px solid #e5e7eb;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: -1px;
      text-align: center;
    }
  }
  .tab-container {
    @include column-flexbox(center, start);
    gap: 2rem;
    background-color: #fafafa;
  }

  .option-container {
    @include flexbox(between, center);
    padding: 2rem 0;
    font-size: 1.4rem;
    line-height: 1.25rem;
  }

  .card_container {
    margin-top: 2rem; /* mt-8 */
    display: grid;
    gap: 1rem; /* gap-4 */

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .select-box {
    padding: 0.75rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    color: #4b5563;

    appearance: none; /* 기본 드롭다운 화살표 숨기기 */
    background: url("/src/assets/images/down_arrow.svg") no-repeat right 10px center; /* 화살표 이미지 위치 설정 */
    background-size: 20px; /* 이미지 크기 조정 */
    padding-right: 30px; /* 화살표 이미지 공간 확보 */
  }
}
