.filters {
  @include flexbox(center, center);
  gap: 0.8rem;

  .filter {
    list-style: none;

    &-btn {
      @include text-style(1.4, 500, $black30);
      background-color: $gray10;
      border-radius: 0.6rem;
      padding: 0.6rem 1.6rem;
      cursor: pointer;

      &.isSelected {
        border: solid 0.1rem $primary40;
        color: $primary40;
      }
    }
  }
}

.container {
  position: relative;
  cursor: pointer;

  .dropdown {
    @include text-style(1.3, 500, $black30);
    appearance: none;
    border: solid 0.1rem $black10;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    width: 10rem;

    .menu {
      @include text-style(1.3, 500, $black30);
    }
  }

  .dropdown-icon {
    @include pos-center-y();
    @include text-style(1.3, 500, $black10);
    right: 0.5rem;
  }
}
