.image-input {
  .input {
    display: none;
  }

  .images {
    @include flexbox(start, center);
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;

    .add-btn {
      @include flexbox();
      border: solid 0.1rem $gray20;
      border-radius: 0.6rem;
      width: 10rem;
      height: 10rem;
      cursor: pointer;

      @include responsive("T") {
        width: 8rem;
        height: 8rem;
      }

      @include responsive("M") {
        width: 6rem;
        height: 6rem;
      }

      .icon {
        width: 3rem;
      }
    }
  }

  .preview {
    &-item {
      @include flexbox();
      position: relative;
      border: solid 0.1rem $gray20;
      border-radius: 0.6rem;
      overflow: hidden;
      width: 10rem;
      height: 10rem;

      @include responsive("T") {
        width: 8rem;
        height: 8rem;
      }

      @include responsive("M") {
        width: 6rem;
        height: 6rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        @include flexbox();
        background-color: $white;
        border-radius: 50%;
        padding: 0.2rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;

        img {
          width: 1.5rem;
        }
      }
    }
  }
}
