.container {
  @include column-flexbox();
  gap: 5rem;
  padding: 5rem 3rem;
  width: 100%;

  @include responsive("M") {
    padding: 2rem 0;
  }

  .header {
    @include flexbox(between, center);
    width: 100%;
  }

  .form {
    @include column-flexbox();
    gap: 1.5rem;
    width: 100%;

    &-title {
      @include text-style(2, 700, $black30);
      width: 100%;

      @include responsive("M") {
        font-size: 1.8rem;
      }
    }
  }

  .review {
    width: 100%;
  }
}
