.search-bar-wrap {
  position: relative;
  z-index: 10;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  &-gray {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #ddd 0%, #ddd 100%);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
  }
  &-blue {
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right, #0049ff 0%, #23fdc6 28%, #58ced7 57%, #3aa1ff 80%);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
  }

  .search_img {
    width: 22px;
    height: 22px;
    margin-left: 40px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 19px;

    @media (max-width: 375px) {
      padding: 14px;
    }
  }

  input::placeholder {
    color: #ccc;
  }
}

.search-bar:focus-within {
  // border-color: #0056d2;
  border: none;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  // rgba(0, 86, 210, 0.5);
  border-bottom: 1px solid #ddd !important;
  border-radius: 20px 20px 0 0 !important;
}

.search-bar::before {
  // content: "\1F50D"; /* Unicode character for magnifying glass */
  font-size: 18px;
  color: #ccc;
  margin-right: 10px;
  padding-left: 10px;
}

// @media (min-width: 768px) {
//   .banner-description {
//     display: block;
//   }
// }

// @media (min-width: 360px) {
//   .banner-description {
//     display: block;
//   }
// }

.list-container {
  visibility: hidden;
  background-color: $white;
  padding: 12px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;

  transform: translateY(0); /* 원래 위치로 슬라이드 */
  pointer-events: auto;

  .search-bar-wrap:focus-within & {
    visibility: visible;
    transform: translateY(-2px); /* 리스트를 위로 약간 올려서 시작 */
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .list-type {
    font-size: 15px;
    font-weight: 600;
    color: $gray30;
  }

  .list-item {
    padding: 15px 0px;
    cursor: pointer;
    display: flex;
    gap: 8px;

    &:hover {
      background-color: $primary10;
    }

    .list-txt-top {
      font-size: 16px;
      font-weight: 600;
      line-height: 20.8px;
      letter-spacing: -0.8px;
      text-align: left;
    }

    .list-txt-bottom {
      font-size: 14px;
      font-weight: 600;
      line-height: 18.2px;
      letter-spacing: -0.8px;
      text-align: left;
      color: #86869a;
    }
  }
  .no-result {
    font-size: 14px;
    font-weight: 600;
    line-height: 20.8px;
    letter-spacing: -0.8px;
    text-align: center;
    color: #86869a;
    padding: 50px 12px;
  }
}
