.dropdown {
  width: 15.5rem;
  height: 5.8rem;

  flex-shrink: 0;

  &-header {
    @extend %input-base;
    width: 100%;
    position: relative;

    &.error {
      border: 0.1rem solid $red;
      border-radius: 0.6rem;
    }

    &-field {
      cursor: pointer;
    }

    &-input {
      &::placeholder {
        color: $black10;
      }
    }

    &-btn {
      @include pos-center-y(absolute);
      width: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }
  }

  &-menu {
    @include column-flexbox();
    position: absolute;
    border: 0.1rem solid $gray20;
    border-radius: 0.6rem;
    overflow: hidden;
    width: 15.5rem;

    li {
      @extend %input-base;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $gray10;
      }
    }
  }
}
