.container {
  @include flexbox(center, start);
  gap: 2rem;
}

.inner-box {
  @include column-flexbox(center, end);
  gap: 0.4rem;
  width: 100%;
}

.input {
  @include flexbox(between, center);
  gap: 0.4rem;
  width: 100%;

  &-group {
    @include flexbox();
    gap: 0.9rem;

    &-field {
      @extend %input-base;
      width: 17.2rem;

      &.isLabelExist {
        max-width: 44.2rem;
      }
    }

    &-address {
      @include text-style(1.6, 400);
    }
  }
}

.helper-text {
  @include text-style(1.2, 400, $gray30);
  height: 1.6rem;

  &.error {
    color: $red;
  }

  &.verified {
    color: $primary40;
  }
}
