.container {
  width: 100%;
}

.terms {
  @include column-flexbox(center, start);
  gap: 2.4rem;
  width: 100%;
}

.message {
  @include text-style(1.3, 400, $gray30);
  padding-left: 2rem;
  padding-top: 0.7rem;
}
