.container {
  @include column-flexbox(start, center);
  gap: 1rem;
  max-height: 50rem;
  height: 100%;

  @include responsive("M") {
    max-height: 40rem;
  }

  .text {
    @include text-style(1.2, 400, #8c8c8c);

    @include responsive("M") {
      font-size: 1.1rem;
    }
  }

  .cards {
    @include custom-scroll-bar(1.2, 1.2);
    width: 100%;
    overflow-y: scroll;
    padding: 1.5rem 1rem 1.5rem 1.5rem;

    .card {
      @include column-flexbox();
      gap: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
    }
  }
}
