.container {
  @include column-flexbox(start, center);
  gap: 1rem;
  max-height: 50rem;
  height: 100%;

  @include responsive("M") {
    max-height: 40rem;
  }

  .text {
    @include text-style(1.2, 400, #8c8c8c);

    @include responsive("M") {
      font-size: 1.1rem;
    }
  }

  .cards {
    @include custom-scroll-bar(1.2, 1.2);
    width: 100%;
    overflow-y: scroll;
    padding: 1.5rem 1rem 1.5rem 1.5rem;

    .card {
      @include column-flexbox();
      gap: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
    }
  }
  .empty {
    @include flexbox();
    gap: 10px;
    padding: 60px 0;
    margin-top: 30px;
    width: 100%;
    border: 2px dashed #8c8c8c;

    font-size: 16px;
    color: $gray30;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;

    &:hover {
      background-color: $primary10;
    }

    .icon {
      width: 24px;
    }
  }
}
