#toolbar {
  @include flexbox(start, center);
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: none;
  background-color: $gray10;
  border: 0.1rem solid $gray20;
  padding: 1.5rem 2rem;

  & > span {
    @include flexbox();
  }

  & button {
    font-size: 14px;
  }
}
