.destination-card {
  @include inline-flexbox($jc: center, $ai: start);
  gap: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 12rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  background-color: $white;

  &__image-container {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    @include column-flexbox($jc: start, $ai: start);
    width: 100%;
    gap: 3rem;
  }

  &__details {
    @include column-flexbox($jc: start, $ai: start);
    gap: 0.5rem;
    padding-top: 0.5rem;
  }

  &__name {
    @include text-style(1.6, 700, $black30);
  }

  &__address {
    @include text-style(1.2, 500, $black30);
  }

  &__ratings {
    @include inline-flexbox($jc: center, $ai: center);
    gap: 0.64rem;
    align-self: self-end;
  }

  &__rating-item {
    @include inline-flexbox($jc: center, $ai: center);
    gap: 0.1rem;
  }
}
