%input-base {
  @include text-style(1.6, 400, $black30);
  width: 100%;
  height: 5.8rem;
  background-color: $White;
  border: 0.1rem solid $gray20;
  border-radius: 0.6rem;
  padding: 2rem 2rem;
  transition: border-color 0.2s ease-in-out;

  &.error {
    border-color: $red;
  }

  &::placeholder {
    color: $black10;
  }

  &:focus:not(.error) {
    border-color: $primary40;
  }
}
