.input {
  @include flexbox(start, center);
  gap: 1.4rem;
  position: relative;

  &-field {
    @include text-style(1.6, 400, $black30);
    background-color: $White;
    border: 0.1rem solid $gray20;
    border-radius: 0.6rem;
    padding: 1.1rem 1.3rem;
    width: 27.6rem;

    &.isAddress {
      width: 51.4rem;
    }

    &::placeholder {
      color: $gray30;
    }

    @include responsive("M") {
      width: 100%;
      padding-right: 4.5rem;
    }
  }

  &-mobile-btn {
    @include pos-center-y();
    right: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
