.container {
  padding: 24px;

  .txt-title {
    font-size: 2rem; /* text-xl */
    font-weight: bold; /* font-bold */
    color: #1a202c; /* text-gray-900 */
    margin-bottom: 24px;

    @media (min-width: 640px) {
      /* sm:text-3xl */
      font-size: 2.45rem;
    }
  }
}
