.section {
  @include column-flexbox();
  gap: 16.3rem;
  padding-bottom: 15rem;
}

.article {
  @include inline-flexbox(center, end);
  gap: 3rem;
}
.btn-group {
  display: flex;
  gap: 0.8rem;
  width: 24rem;
  height: 4.8rem;
  margin-top: 1.6rem;
}

.kakao-map {
  border-radius: 3rem;
  // z-index: -1;
}

.location {
  @include flexbox();
  gap: 1rem;
  padding-top: 4rem;
}
.content {
  @include column-flexbox();
  width: 100%;
  flex-shrink: 0;

  &-text-editor {
    @include text-style(1.8, 400);
    width: 80%;

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: disc;
    }

    h1 {
      @include text-style(3.5, 700);

      line-height: 3.8rem;
      margin-bottom: 0.8rem;
    }

    h2 {
      @include text-style(2.5, 600);

      line-height: 3rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      line-height: 2.5rem;
      margin-bottom: 0.5rem;
    }

    blockquote {
      border-left: 4px solid #ccc;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-left: 16px;
    }

    img {
      max-height: 50rem;
    }

    strong {
      font-weight: 700;
    }

    i {
      font-style: italic;
    }

    em {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }
  }
}

.location-text {
  color: $Black;
  font-size: 1.8rem;
  font-weight: 700;
}

:global(.ql-align-center) {
  text-align: center;
}

:global(.ql-align-right) {
  text-align: right;
}
