.container {
  @include column-flexbox();
  gap: 8rem;
  padding-top: calc(15rem - 4rem);
  padding-bottom: 20rem;

  @include responsive("T") {
    gap: 4.4rem;
    padding-top: calc(8rem - 4rem);
    padding-bottom: 15rem;
  }

  @include responsive("M") {
    gap: 3rem;
    padding-top: calc(4rem - 4rem);
    padding-bottom: 10rem;
  }

  .title {
    @include text-style(3, 700, $black30);

    @include responsive("T") {
      font-size: 2.4rem;
    }
  }

  .menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;

    @include responsive("T") {
      gap: 4rem;
    }

    @include responsive("M") {
      @include column-flexbox();
      gap: 3rem;
    }

    .menu {
      width: 25rem;
      height: 25rem;

      @include responsive("T") {
        width: 14rem;
        height: 14rem;
      }

      @include responsive("M") {
        width: 100%;
        height: 3rem;
      }

      &-btn {
        @include column-flexbox();
        gap: 4.5rem;
        width: 100%;
        height: 100%;
        border: 0.1rem solid $gray20;
        padding-top: 1rem;
        background-color: white;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          @media (hover: hover) and (pointer: fine) {
            background-color: $gray10;

            .menu-btn-img {
              transform: scale(1.4);
            }
          }
        }

        @include responsive("T") {
          gap: 1.5rem;
        }

        @include responsive("M") {
          flex-direction: row;
          justify-content: flex-start;
          padding-top: 0;
          border: none;
          &:hover {
            background-color: transparent;
          }
        }

        &-img {
          @include flexbox();
          width: 8rem;
          height: 8rem;
          transition: all 0.2s linear;

          @include responsive("T") {
            width: 5rem;
            height: 5rem;
          }

          @include responsive("M") {
            width: 3rem;
            height: 3rem;
          }
        }

        &-name {
          @include text-style(2.4, 500, $black30);

          @include responsive("T") {
            font-size: 1.6rem;
          }
        }
      }

      li:nth-child(2) {
        gap: 3rem;
        padding-top: 0;

        @include responsive("T") {
          gap: 0.5rem;
        }

        .menu-img {
          width: 11rem;
          height: 11rem;

          @include responsive("T") {
            width: 7rem;
            height: 7rem;
          }

          @include responsive("M") {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}
