.course-detail-info {
  @include flexbox($ai: end);
  gap: 3.18rem;

  &__main-image-container {
    width: 48.9rem;
    flex-shrink: 0;
  }

  &__main-image {
    width: 100%;
    height: 47rem;
    border-radius: 2rem;
  }
}

.destination-section {
  &__header {
    @include column-flexbox();
    gap: 0.9rem;
    padding-bottom: 2rem;
  }

  &__title {
    @include text-style(2.6, 700, #363636);
  }

  &__subtitle {
    @include text-style(1.3, 400, #8c8c8c);
  }
}
