.course-detail-info {
  @include flexbox($ai: end);
  gap: 1rem;

  &__main-image-container {
    border-radius: 2rem;
    overflow: hidden;
    height: 40rem;
    width: 50%;
    flex-shrink: 0;
  }
}

.destination-section {
  width: 50%;

  &__header {
    @include column-flexbox();
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

  &__title {
    @include text-style(2.2, 700, #363636);
  }

  &__subtitle {
    @include text-style(1.2, 400, #8c8c8c);
  }

  &__cards {
    width: 100%;
  }
}
