.container {
  @include flexbox(center, start);
  gap: 1rem;
  width: 100%;

  @include responsive("T") {
    @include column-flexbox();
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .destination-list {
    width: 32rem;

    @include responsive("M") {
      max-width: 32rem;
      width: 100%;
    }
  }

  .map {
    width: 50rem;
    height: 50rem;
    border-radius: 1rem;
    overflow: hidden;

    @include responsive("T") {
      width: 50rem;
      height: 30rem;
    }

    @include responsive("M") {
      max-width: 50rem;
      width: 100%;
      height: 20rem;
    }
  }
}

.modal-btn {
  @include flexbox();
  margin: 30px 0;
}

.modal-content {
  @include column-flexbox($jc: between, $ai: center);
  width: 90%;
  height: 90%;
  margin: 10px;
  background-color: white;
  padding: 40px 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.txt-container {
  @include column-flexbox();
}
.txt-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 23.5px;
  letter-spacing: -0.8px;
  text-align: left;
  padding-bottom: 1rem;

  @include responsive("T") {
    font-size: 25px;
  }

  @include responsive("M") {
    font-size: 20px;
    padding-bottom: 0;
  }
}

.txt-sub {
  font-size: 15px;
  font-weight: 600;
  line-height: 23.5px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #8c8c8c;
  // margin-top: 10px;
  padding-bottom: 1rem;

  @include responsive("M") {
    font-size: 12px;
    padding-bottom: 0;
  }
}

.input {
  @include text-style(2, 500, $gray10);
  padding-bottom: 1rem;
  width: 100%;

  @include responsive("M") {
    font-size: 1.8rem;
  }

  &::placeholder {
    color: $gray30;
  }
}

.close-button {
  position: relative !important;
  margin-bottom: -20px;
}

.path-box {
  margin: 2rem;
  display: grid;
  gap: 1rem; /* gap-4 */
  overflow-y: scroll;
  padding: 1rem;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @include responsive("T") {
    gap: 3rem;
    @include custom-scroll-bar(1.2, 1.2);

    &::-webkit-scrollbar {
      display: block;
    }

    -ms-overflow-style: auto;
    // scrollbar-width: auto;
  }

  @include responsive("M") {
    gap: 3rem;
    margin: 2rem 0;
    padding: 0;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item-container {
  @include flexbox(start, center);
  padding: 2rem 2rem;
  gap: 0.69rem;
  width: 100%;
  height: 13.6356rem;
  background: #f3f3f3;
  border-radius: 1rem;

  @include responsive("M") {
    padding: 1rem 1rem;
    height: auto;
  }
}

.plus-btn {
  .img {
    width: 40px;
    width: 40px;
  }
  &:hover {
    scale: 1.2;
    animation: all 1s;
    transition: all 0.5s;
  }
}
.item-image {
  width: 16.64rem;
  height: 9.5911rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: lightgray 50% / cover no-repeat;

  @include responsive("M") {
    width: 14rem;
    height: 7rem;
  }
}

.item-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.title-group {
  @include column-flexbox(start, start);
  gap: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  width: 100%;

  @include responsive("M") {
    gap: 0.5rem;
    padding-left: 0.5rem;
  }
}

.item-title {
  color: $black30;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;

  @include responsive("M") {
    font-size: 1.5rem;
  }
}

.item-location {
  color: $black30;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.destination-section__cards {
  width: 100%;
  @include custom-scroll-bar(1.2, 1.2);
  @include column-flexbox(start, center);
  gap: 1rem;
  height: 40rem;
  overflow-y: scroll;
  padding: 1.5rem;

  @include responsive("T") {
    max-height: 40rem;
    height: 100%;
  }

  @include responsive("M") {
    max-height: 35rem;
    padding: 1.5rem 1rem;
  }
}
