.container {
  @include column-flexbox(center, end);
  gap: 0.3rem;
  width: 100%;

  .input-field {
    @extend %input-base;
  }

  .helper-text {
    @include text-style(1.2, 400, $gray30);
    height: 1.6rem;

    &.error {
      color: $red;
    }

    &.verified {
      color: $primary40;
    }
  }
}
