.container {
  @include column-flexbox(center, end);
  gap: 0.3rem;
  width: 100%;

  .input-field {
    @extend %input-base;
  }
  .disabled {
    color: $gray30;
  }

  .helper-text {
    @include text-style(1.2, 400, $gray30);
    @include column-flexbox(start, end);
    min-height: 1.6rem;

    .verified {
      color: $primary40;
    }

    .error {
      color: $red;
    }
  }
}
