.container {
  @include column-flexbox(center, start);
  gap: 1rem;
  width: 100%;

  @include responsive("M") {
    gap: 0.5rem;
  }

  .label {
    @include text-style(2.4, 600, $black30);

    .asterisk {
      color: #ff7c33;
    }

    @include responsive("M") {
      font-size: 2rem;
    }
  }

  .message {
    @include text-style(1.5, 500, $gray30);
  }

  .component {
    padding: 2rem 1rem 0;
    width: 100%;
  }
}
