.desktop-tab {
  .tab-nav {
    border-bottom: 1px solid #e5e7eb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: -1px;
    text-align: center;
  }

  .tab-button {
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    color: $gray30;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.active {
      color: $primary30;
      border-bottom: 2px solid $primary30;
      border-radius: 8px 8px 0 0;
    }

    &:hover {
      color: $primary20;
    }

    @media (min-width: 640px) {
      /* sm:text-3xl */
      font-size: 2.25rem;
    }
  }
}
