.container {
  @include column-flexbox(between, center);
  @include pos-center(absolute);
  width: 60rem;
  max-height: 80vh;
  min-height: 20.8rem;
  padding: 1.8rem 2rem 4rem;
  border-radius: 1rem;
  background-color: $White;

  @include responsive("M") {
    width: calc(100% - 4rem);
    max-width: 60rem;
  }

  .close-btn {
    align-self: flex-end;
    cursor: pointer;
  }

  .content-box {
    &-title {
      @include text-style(1.6, 700, $black20);
      text-align: center;
      border-bottom: solid 0.1rem $gray20;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &-content {
      @include text-style(1.2, 400, $black20);
      line-height: 1.5rem;
      overflow: auto;
      max-height: calc(80vh - 10rem);

      strong {
        font-weight: 700;
        margin-top: 10px;
        display: block;
      }

      ul {
        list-style: disc;
        padding-left: 30px;
      }

      ol {
        list-style: number;
        padding-left: 20px;
      }
    }
  }
}
