.container {
  @include column-flexbox(between, center);
  @include pos-center(absolute);
  gap: 2.5rem;
  width: 43rem;
  max-height: 80vh;
  min-height: 20.8rem;
  padding: 1.8rem 2rem 4rem;
  border-radius: 1rem;
  background-color: $White;

  @include responsive("M") {
    width: calc(100% - 4rem);
    max-width: 32rem;
  }

  .close-btn {
    align-self: flex-end;
    cursor: pointer;
  }

  .content {
    &-box {
      overflow-y: scroll;

      -ms-overflow-style: none; /* Internet Explorer, Edge */
      scrollbar-width: none; /* Firefox */

      .element::-webkit-scrollbar {
        display: none;
      }
    }

    &-content {
      @include text-style(1.6, 500, $black30);
      text-align: center;
    }
  }
}
