.container {
  @include column-flexbox(between, center);
  @include pos-center(absolute);
  gap: 2.5rem;
  min-width: 43rem;
  min-height: 20.8rem;
  border-radius: 1rem;
  background-color: $White;

  .close-btn {
    padding-top: 1.8rem;
    padding-right: 1.8rem;
    align-self: flex-end;
    cursor: pointer;
  }

  .content {
    @include text-style(1.6, 500, $black30);
    text-align: center;
  }

  .confirm-btn {
    @include text-style(1.5, 700, $primary30);
    justify-self: flex-end;
    border: solid 0.1rem $primary30;
    border-radius: 0.6rem;
    padding: 1.2rem 2.4rem;
    margin-bottom: 4rem;
    cursor: pointer;
  }
}
