.list-container {
  @include column-flexbox($jc: start, $ai: start);
  height: 40rem;
  overflow: scroll;
  overflow-x: hidden;

  .list-box {
    @include column-flexbox($jc: start, $ai: start);
    flex-shrink: 0;
    gap: 1.8rem;
    width: 100%;

    & > a {
      width: 100%;
    }

    & > div {
      width: 100%;
    }
  }
}
