.list-container {
  @include custom-scroll-bar(1.2, 1.2);
  @include column-flexbox($jc: start, $ai: start);
  height: 40rem;
  overflow-y: scroll;
  padding: 1.5rem;

  @include responsive("T") {
    max-height: 40rem;
    height: 100%;
  }

  @include responsive("M") {
    max-height: 35rem;
  }

  .list-box {
    @include column-flexbox($jc: start, $ai: start);
    flex-shrink: 0;
    gap: 1.8rem;
    width: 100%;

    .card-link {
      width: 100%;
    }
  }
}
