.list-container {
  @include column-flexbox($jc: start, $ai: start);
  width: 51.6rem;
  height: 56.4rem;
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-box {
  @include column-flexbox($jc: start, $ai: start);
  width: 46.9rem;
  flex-shrink: 0;
  gap: 1.7rem;
}
