%btn-base {
  @include text-style(1.6, 700);
  @include flexbox();
  gap: 16px;
  border-radius: 99.9rem;
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

%banner-text-base {
  padding: 1.8rem;
  color: white;
  width: 100%;
}

.banner-size {
  &-small,
  &-large,
  &-x-large,
  &-default {
    @extend %btn-base;
  }

  &-small {
    padding: 1.2rem 2.4rem;
    width: 150px;
    height: 90px;
  }

  &-large {
    // width: 300px;
    height: 150px;

    @media (max-width: 360px) {
      align-items: flex-end;
    }
  }

  &-x-large {
    // width: 300px;
    height: 25.75rem;
  }
}

.banner-text {
  padding: 1.8rem;
  text-align: center;
  color: white;
  width: 100%;
}

.banner-text {
  &-small,
  &-large,
  &-x-large,
  &-default {
    @extend %banner-text-base;
  }

  &-small {
    text-align: center;
  }

  &-large {
    text-align: left;

    @media (max-width: 360px) {
      padding: 30px 10px;
    }
  }

  &-x-large {
    text-align: center;
  }
}

.banner-content {
  border-radius: 0.8rem;
  width: 100%;
  max-height: 100%;
}

.banner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
}

.banner-title {
  font-size: 16px;
  font-weight: bold;

  @media (max-width: 360px) {
    font-size: 10px;
  }
}

.banner-subtitle {
  margin-top: 8px;
  font-size: 20px;

  @media (max-width: 360px) {
    font-size: 16px;
  }
}

.banner-description {
  display: none;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.5;
}

.banner-button {
  margin-top: 16px;
}

.banner-button a {
  display: inline-block;
  border-radius: 9999px;
  background-color: #4f46e5;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  transition: background-color 0.3s;
}

.banner-button a:hover {
  background-color: #4338ca;
}

.banner-button a:focus {
  outline: none;
  box-shadow: 0 0 0 3px #facc15;
}

@media (min-width: 768px) {
  .banner-description {
    display: block;
  }
}
