.container {
  @include flexbox(center, start);
  min-height: calc(100vh - 9.7rem);
  padding: calc(120 / 844 * (100vh - 9.7rem)) 3.2rem 5rem;
  background-color: $White;
}

.items {
  @include column-flexbox();
  gap: 4rem;
  max-width: 42rem;
  width: 100%;
}

.header {
  @include text-style(3, 700);
}
