.container {
  @include flexbox(center, start);
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 8.6rem;

  @include responsive("T") {
    padding-top: 10vh;
  }
}

.items {
  @include column-flexbox();
  gap: 4rem;
  max-width: 35rem;
  width: 100%;

  @include responsive("M") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header {
  @include text-style(3, 700);
}
