.container {
  @include column-flexbox(center, center);
  gap: 3rem;

  .header {
    width: 100%;
  }

  .main {
    @include responsive("T") {
      padding: 0 1rem;
    }
  }

  .article {
    padding: 5rem 0 10rem;
    width: 100%;
  }
}
