.container {
  padding: 0px !important;
  margin-top: 42px;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media (max-width: 375px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.card_container {
  margin-top: 2rem; /* mt-8 */
  display: grid;
  gap: 1rem; /* gap-4 */

  .card-image-container {
    position: relative;
  }

  .card-image {
    height: 28rem;
    width: 100%;
    object-fit: cover;

    @media (max-width: 768px) {
      height: 34rem;
    }

    @media (max-width: 375px) {
      height: 30rem;
    }
  }

  .card-content {
    position: absolute;
    display: grid;
    bottom: 20px;
    padding: 1rem;
    color: white;

    span {
      color: white;
      font-weight: bold;
    }

    .card-title {
      font-size: 16px;

      @media (max-width: 375px) {
        font-size: 10px;
      }
    }

    .card-subtitle {
      margin-top: 20px;
      font-size: 20px;

      @media (max-width: 375px) {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.banner-container {
  @include flexbox($jc: around, $ai: center);
  gap: 16px;
  border-radius: 8px;
  margin-bottom: 24px;

  @media (max-width: 415px) {
    gap: 5px;
  }
}

.banner {
  text-align: center;

  h1 {
    font-size: 16px;
    margin-top: 4px;
  }

  img {
    width: 33px;
    height: 33px;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 13px;
      margin-top: 4px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 415px) {
    h1 {
      font-size: 11px;
      margin-top: 4px;
    }

    img {
      width: 30px;
      height: 27px;
    }
  }
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.left {
  margin-right: 16px;
}

.right {
  margin-left: 16px;
}

.banner-content {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  color: #333;
}
