.BadgeList-box {
  display: flex;
  flex-direction: column;
  padding-top: 11.9rem;
  padding-bottom: 14.7rem;
}
.BadgeList-title {
  display: flex;
  justify-content: center;
  color: $Black;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 7.6rem;
}
