.nav {
  @include flexbox();
  @include pos-center-x(fixed);
  background-color: $White;
  border-bottom: 0.1rem solid $gray20;

  width: 100%;
  height: 8rem;
  z-index: $nav;

  @include responsive("M") {
    height: 6rem;
  }
}

.main {
  padding-top: 8rem;
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
  z-index: $main;
  background-color: $gray10;

  @include responsive("T") {
    max-width: calc(100% - 16.8rem);
    padding-bottom: 8rem;
  }
  @include responsive("M") {
    padding-top: 6rem;
    max-width: calc(100% - 4rem);
  }
}

.empty {
  margin-top: 40px;
}

.tabBar {
  @include flexbox();
  @include pos-center-x(fixed);
  background-color: $White;
  width: 100%;
  bottom: 0;

  height: 8rem;
  border-top: 0.1rem solid $gray20;
}
